<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.SumdayMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.Sumday" >
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="Totalmoney" property="totalmoney" jdbcType="DOUBLE" />
    <result column="Time" property="time" jdbcType="DATE" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
    <result column="reserve3" property="reserve3" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.demo.entity.Sumday" extends="BaseResultMap" >
    <result column="Totalnum" property="totalnum" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    Totalnum
  </sql>
  <insert id="insert" parameterType="com.demo.entity.Sumday" >
    insert into sumday (Id, Totalmoney, Time, 
      reserve1, reserve2, reserve3, 
      Totalnum)
    values (#{id,jdbcType=INTEGER}, #{totalmoney,jdbcType=DOUBLE}, #{time,jdbcType=DATE}, 
      #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR}, 
      #{totalnum,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.Sumday" >
    insert into sumday
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="totalmoney != null" >
        Totalmoney,
      </if>
      <if test="time != null" >
        Time,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
      <if test="reserve3 != null" >
        reserve3,
      </if>
      <if test="totalnum != null" >
        Totalnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        #{totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null" >
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="totalnum != null" >
        #{totalnum,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>